<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Todo<span class="bold">List</span></h1>
    <div class="container">
        <input type="text" placeholder="Type your activity here">
        <ul>
            <% todos.forEach(function(todo){ %>
                <li <% if(todo.completed){ %>class="completed"<% } %>>
                    <%= todo.name %><span class="delete"><i class="fas fa-times-circle"></i></span>
                </li>
            <% }) %>
        </ul>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>